<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="addContact.css" type="text/css"/>
</head>
<body>

<div class="container">
    <div class="modal">
        <div id="task_Choice" class="task_Choice">
            <p class="par_Choice" id="addChoice" onclick="chooseAdd()"><b>Add</b></p>
            <p class="par_Choice" id="updateChoice" onclick="chooseUpdate()">Update</p>
            <p class="par_Choice" id="deleteChoice" onclick="chooseDelete()">Delete</p>
        </div>
        <div class="input_contact_form" id="input_contact_div">
            <select class="data_input" id="selectId" name="id" hidden></select>
            <form class="input_contact_form" id="input_contact_form" action="/addContact">
                <input type="text" class="data_input" id="name" name="name" placeholder="name">
                <input type="text" class="data_input" id="phone" name="phone" placeholder="phone" >
                <input type="text" class="data_input" id="email" name="email" placeholder="email" >
                <input type="text" class="data_input" id="blogLink" name="blogLink" placeholder="blogLink" >
                <input type="text" class="data_input" id="comment" name="comment" placeholder="comment">
                <input type="button" id="submit" class="add_contact_button" value="add contact">
            </form>
            <p th:text="${list.size}"></p>
        </div>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
<script src="Scripts/addContact/addContact.js"></script>
<script src="Scripts/addContact/buttonListeners.js"></script>
<script src="Scripts/addContact/selectIdListeners.js"></script>

</body>
</html>